@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: #effafa;
  width: 100vw;
  min-height: 100vh;
}

header {
  background-color: #5ba4a4;
  height: 156px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

header svg {
  width: 100%;
}

#headerFilter {
  background-color: white;
  color: #5ba4a4;
  position: absolute;
  top: 78%;
  padding: 18px 40px;
  width: 75%;
  font-weight: 700;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 1px 11px 30px -3px rgba(12, 28, 29, 0.5);
  display: none;
}

#headerFilter .filter {
  background-color: #eef6f6;
  padding-right: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.filter .filterText {
  padding: 10px;
  padding-right: 0;
}

.filter .closeFilter {
  background-color: hsl(180, 29%, 50%);
  padding: 10px;
  fill: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 0.4s linear;
  text-align: center;
  line-height: 1px;
}

.filter .closeFilter:hover {
  background-color: hsl(180, 14%, 20%);
}

#headerFilter #filterClear {
  position: absolute;
  right: 15px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
}
#headerFilter #filterClear:hover {
  text-decoration: underline;
}

/* main */
main {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.jobLists {
  width: 90%;
  max-width: 1000px;
  height: 140px;

  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -3px 24px -8px rgba(15, 101, 106, 0.5);
}

.jobLists.feature {
  border-left: 5px solid #7b8e8e;
}

.jobDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.jobDetails .companyLogo {
  border-radius: 10pc;
}

.jobDetails .jobinfo {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  flex-direction: column;
  position: relative;
}

.jobinfo .companyName {
  font-weight: 700;
  font-size: 19px;
  color: hsl(180, 29%, 50%);
}

.jobinfo .jobTitle {
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
  transition: all .2s linear;
}
.jobinfo .jobTitle:hover {
color: #5ba4a4;
}

.jobinfo .jobtiming {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  color: gray;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.jobinfo .jobtiming div::before {
  content: "";
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
  margin-inline: 15px;
}

.jobinfo .jobtiming div:first-child::before {
  display: none;
}

.jobinfo .features {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -4px;
  left: 106px;
  gap: 10px;
  font-weight: 700;
  font-size: 13px;
}

.features .featureNew {
  background-color: hsl(180, 29%, 50%);
  color: #eef6f6;
  padding: 9px 7px;
  padding-bottom: 6px;
  border-radius: 22px;
  line-height: 8px;
}

.features .featureFeatured {
  padding: 7px 7px;
  padding-bottom: 5px;
  background-color: #273535;
  color: #eef6f6;
  border-radius: 19px;
}

.jobLists .tags{
  display: flex;
justify-content: space-between;
align-items: center;
width: 41%;
font-weight: bold;
color: white;
gap: 12px;
}

.tags .tag{
  padding: 9px 10px;
border-radius: 5px;
cursor: pointer;
background-color: #2f93930d;
color: #5ba4a4;
transition: all .3s linear;
}

.tags .tag:hover{
  background-color: #166c6ca6;
  color: #eef6f6;
}