* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --defaultBorder: 1px solid rgba(20, 20, 20, 0.4);
}

@font-face {
  font-family: mainFont;
  src: url(assets/fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: Headingfont;
  src: url(assets/fonts/Karla-VariableFont_wght.ttf);
}

body {
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 120px;
  font-family: "mainFont", sans-serif, serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  width: 93%;
  max-width: 740px;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
}

#heading {
  font-family: "Headingfont", sans-serif, serif;
  align-self: flex-start;
  margin-bottom: 15px;
}

.fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputField {
  width: 100%;
}
.inputField label {
  color: #575151;
  display: block;
  margin-block: 10px;
  cursor: pointer;
  user-select: none;
}

.red {
  color: rgb(255, 0, 21);
}

.inputField input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: var(--defaultBorder);
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.inputField input:hover {
  border-color: black;
}

.inputField .error {
  color: rgb(215, 60, 60);
  margin-block: 8px;
  cursor: not-allowed;
  display: none;
}

.fields.dualField {
  justify-content: space-between;
  gap: 20px;
}

#query {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

#query .queries {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.queries input {
  transform: scale(0);
  position: absolute;
}

.queries label {
  width: 100%;
  border: var(--defaultBorder);
  font-size: 20px;
  padding: 13px 65px;
  padding-right: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.queries label:hover {
  border-color: black;
}

.radioBtn {
  width: 20px;
  height: 20px;
  border: var(--defaultBorder);
  border-radius: 10pc;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.queries input:checked + .radioBtn {
  background: url(assets/images/icon-radio-selected.svg) no-repeat center;
}
.queries input:checked ~ label {
  background-color: hsl(148, 38%, 91%);
}

.inputField #message {
  width: 100%;
  height: 118px;
  border: var(--defaultBorder);
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  padding: 6px 16px;
  resize: none;
}

.inputField #message:hover {
  border-color: black;
}

.inputField#checkBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 19px;
  position: relative;
  flex-wrap: wrap;
}

.inputField#checkBox .error {
  width: 100%;
}

.inputField input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 3%;
  height: 54%;
}

#checkField {
  width: 18px;
  height: 18px;
  border: var(--defaultBorder);
  border-width: 1.5px;
  cursor: pointer;
}

#chechField:hover {
  border-color: black;
}

.inputField input[type="checkbox"]:checked + #checkField {
  background: url(assets/images/icon-checkbox-check.svg) no-repeat center;
  border: none;
}

#submitBtn {
  width: 100%;
  border: none;
  background-color: hsl(169, 82%, 27%);
  color: #fff;
  font-weight: 600;
  height: 60px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.3s linear;
}

#submitBtn:hover {
  background-color: hsl(187, 24%, 22%);
}

.inputField.problem .error {
  display: block;
}

.inputField.problem input,
.inputField.problem #message {
  border-color: rgb(215, 60, 60);
}

.inputField.problem .queries label {
  border-color: rgb(215, 60, 60);
  background-color: rgba(215, 60, 60, 0.37);
}

#successAlert {
  background-color: hsl(187, 24%, 22%);
  color: #fff;
  position: fixed;
  /* top: 16px; */
  top: -30%;
  border-radius: 10px;
  padding: 10px 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  transform: scale(0);
  transition: all .4s linear;
}

#successAlert.success{
  top: 16px;
  transform: scale(1);
}

#successHeading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
}

#text {
  color: rgba(255, 255, 255, 0.699);
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 550px) {
  body {
    padding-block: 30px;
  }

  .fields.dualField {
    flex-direction: column;
  }
  #query {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .inputField #message {
    height: 240px;
  }
}
